* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header h2 {
  padding: 10px;
}

nav {
  background-color: rgb(30, 126, 210);
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: #f1f1f1;
  padding: 10px;
}

nav a:hover {
  background-color: black;
}

main {
  padding: 10px;
}

.button {
  background-color: cornflowerblue;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
}

.button:hover {
  background-color: blue;
}

.table-1 {
    width: 100%;
    margin-top: 20px;
}

.table-1 th {
    background-color: cornflowerblue;
    color: white;
    padding: 5px;

}

.table-1 td {
    border: cornflowerblue 1px solid;
    padding: 5px;
}

.form-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 20px;
}

.form-1 input,
select {
  padding: 5px;
  display: block;
  margin-bottom: 10px;
  width: 300px;
}

.form-1 button {
  border: none;
}
