* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header .logo {
  display: flex;
}
header img {
  width: 64px;
}

header h2 {
  padding: 10px;
}

nav {
  background-color: rgb(30, 126, 210);
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: #f1f1f1;
  padding: 10px;
}

nav a:hover {
  background-color: black;
}

main {
  padding: 10px;
}

.button {
  background-color: cornflowerblue;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
}

.button:hover {
  background-color: blue;
}

.table-1 {
  width: 100%;
  margin-top: 20px;
}

.table-1 th {
  background-color: cornflowerblue;
  color: white;
  padding: 5px;
}

.table-1 td {
  border: cornflowerblue 1px solid;
  padding: 5px;
}

.form-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 20px;
}

.form-1 input,
select {
  padding: 5px;
  display: block;
  margin-bottom: 10px;
  width: 300px;
}

.form-1 button {
  border: none;
}

.form-1 table {
  grid-column: span 2;
  text-align: left;
  margin-top: 20px;
  padding-right: 20px;
}

.form-1 table input {
  width: 97%;
}

.column-2 {
  justify-self: end;
}
  
  * { margin: 0; padding: 0; box-sizing: border-box; }

  body {
    font-family: 'Exo 2', sans-serif;
    background: var(--dark);
    color: var(--text);
    min-height: 100vh;
    overflow-x: hidden;
  }